#         Automação Web - Webdriver

In [74]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
navegador = webdriver.Chrome()
#Golden
navegador.get('https://www.melhorcambio.com/ouro-hoje')
golden_price = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute('value')
golden_price = golden_price.replace(",",".")
print('%.2f' % float(golden_price))
#Dolar
navegador.get('https://www.google.com/search?q=cota%C3%A7%C3%A3o+dolar')
dolar_price = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print( '%.2f' % float(dolar_price))
#Euro
navegador.get('https://www.google.com/search?q=cota%C3%A7%C3%A3o+euro')
euro_price = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print('%.2f' % float(euro_price))

309.14
5.44
6.54

In [72]:
import pandas as pd
df = pd.read_excel("Produtos.xlsx")
df.loc[df["Moeda"] == "Dólar", "Cotação"] = float(dolar_price)
df.loc[df["Moeda"] == "Euro", "Cotação"] = float(euro_price)
df.loc[df["Moeda"] == "Ouro", "Cotação"] = float(golden_price)
df["Preço Final"]= pd.to_numeric(df["Preço Final"],errors ="coerce")
df["Preço Base Reais"] = df["Cotação"]* df["Preço Base Original"]
df["Preço Final"] = df["Preço Base Reais"]*df["Ajuste"]
df["Preço Final"] = df["Preço Final"].map("{:.2f}".format)

display(df)
df.info()

#Exportando para o Excel
df.to_excel("Produtos atu.xlsx", index = False)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.435000,5434.945650,1.40,7608.92
1,Carro Renault,4500.00,Euro,6.534772,29406.475125,2.00,58812.95
2,Notebook Dell,899.99,Dólar,5.435000,4891.445650,1.70,8315.46
3,IPhone,799.00,Dólar,5.435000,4342.565000,1.70,7382.36
4,Carro Fiat,3000.00,Euro,6.534772,19604.316750,1.90,37248.20
5,Celular Xiaomi,480.48,Dólar,5.435000,2611.408800,2.00,5222.82
6,Joia 20g,20.00,Ouro,309.100000,6182.000000,1.15,7109.30

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Produtos             7 non-null      object
 1   Preço Base Original  7 non-null      float64
 2   Moeda                7 non-null      object
 3   Cotação              7 non-null      float64
 4   Preço Base Reais     7 non-null      float64
 5   Ajuste               7 non-null      float64
 6   Preço Final          7 non-null      object
dtypes: float64(4), object(3)
memory usage: 520.0+ bytes